<div class="header">

    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#/samples">Samples</a></li>
    </ul>


    <hr>

    <h3 class="text-muted">angularCinema</h3>

    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a ng-href="#/popular">Films populaires</a></li>
        </ul>

        <h3 class="text-muted">Le cinéma avec Angular</h3>

        <div class="row">
            <form class="form-horizontal col-md-8 col-md-offset-2" role="form" ng-controller="HeaderCtrl" ng-submit="searchAction()">
                <div class="input-group">
                    <input ng-model="query" type="text" class="form-control" placeholder="Le loup de Wall-Street, Django...">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" type="button" ng-click="searchAction()"></button>
          </span>
                </div>
            </form>
        </div>
    </div>

    <ng-view></ng-view>