<loading  loading-state="loading"></loading>


<div class="row" ng-show="movies.length > 1">
    Filter: <input ng-model="search"/>

    <a ng-click="clickPredicateName()" class="col-md-offset-7 col-md-2">Trier par nom</a>
    <a ng-click="clickPredicateRate()" class="col-md-2">Trier par note</a>
</div>


<div class="movies-container" id="top">
    <ul class="movies">
        <li ng-repeat="movie in movies | orderBy: predicate:reverse | filter: search">
            <div class="row">
                <a class="col-md-4" ng-href="#/info/{{movie.id}}">
                    <img ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" width="200" height="300"/>
                </a>
                <div class="col-md-8">
                    <a ng-href="#/info/{{movie.id}}"><h4 ng-bind="movie.title"></h4></a>
                    <label>Année:</label><span class="date" ng-bind="movie.release_date | date:'yyyy'"></span><br/>
                    <label>Note:</label><rating ng-model="movie.vote_average" max="10" readonly="true"></rating>(<span ng-bind="movie.vote_count"></span> avis)<br/>
                </div>
            </div>
        </li>
    </ul>

    <div class="row">

        <div class="col-md-9 col-md-offset-3">
            <pagination total-items="totalPages" ng-model="currentPage"
                        ng-change="pageChanged()" item-per-page="10"
                        max-size="5"
                        boundary-link="true">
            </pagination>
        </div>


    </div>
</div>